body {
  margin: 0;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  padding: 25px;
  margin: 0 auto;
}

/*navigation*/
.navigation {
  padding: 12px 0;
  position: relative;
  background-image: url("https://i.postimg.cc/P5fRhvNn/pexels-huseyn-kamaladdin-667838.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}

.navigation a {
  text-decoration: none;
}

.brand {
  font-size: 36px;
  margin: 0 24px 0 0;
  padding: 0;
  font-family: "Festive", cursive;
  color: #e1b12c;
  text-align: left;
}

.navi {
  margin: 0 36px 0 0;
  margin-top: 16px;
  position: relative;
  display: inline-block;
  float: right;
}

.navi a {
  font-size: 18px;
  font: "Lato", sans-serif;
  color: white;
}

/*splash*/
.splash {
  padding: 10px;
}

.splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
}

.page-title {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.splash-inner h2 {
  font-size: 52px;
  font-family: "Lato", sans-serif;
  position: relative;
}

.btn {
  display: inline-block;
  min-width: 16px;
  margin: 24px auto;
  padding: 16px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: center;
  border-width: 8px;
  border-style: solid;
  border-color: #e1b12c;
  background-color: #e1b12c;
  color: white;
  position: absolute;
  right: 26%;
  width: 40%;
  background-position: 100% 0;
  background-size: 300%;
}

/*services*/
.services-title {
  font-size: 32px;
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 48px auto;
  margin-bottom: 72px;
  padding: 25px;
  line-height: 0;
}

.services a {
  font-size: 24px;
  text-align: center;
  font-family: "Playfair Display", serif;
  opacity: 0.6;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.box {
  flex: 1;
  position: relative;
  padding: 36px;
  margin: 72px auto;
}

.box span {
  position: absolute;
  left: 40%;
  bottom: 80%;
}

.description {
  flex: 1;
  font-size: 18px;
  text-align: center;
  margin: 12px 6px 18px 12px;
  line-height: 0.8;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Playfair Display", serif;
}

.description:first-of-type {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: "Lato", sans-serif;
  margin-top: 24px;
}

.fas {
  font-size: 42px;
  text-align: center;
  margin: 5px auto;
  padding: 10px;
  color: #e1b12c;
  border-width: 3px;
  border-style: solid;
  border-color: #e1b12c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*GALLERY*/

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFPQTtFQUNJLFNBQUE7RUFDQSxlQUFBO0FDTko7O0FEU0E7RUFDSSxpQkFBQTtFQUNBLGFBQUE7RUFDQSxjQUFBO0FDTko7O0FEU0EsYUFBQTtBQUVBO0VBQ0ksZUFBQTtFQUNBLGtCQUFBO0VBQ0EsMEZBQUE7RUFDQSxrQ0FBQTtFQUNBLHNCQUFBO0VBQ0EsNEJBQUE7RUFDQSxZQUFBO0FDUEo7O0FEVUE7RUFDSSxxQkFBQTtBQ1BKOztBRFVBO0VBQ0ksZUFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLCtCQUFBO0VBQ0EsY0FuQ0k7RUFvQ0osZ0JBQUE7QUNQSjs7QURVQTtFQUNJLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLHFCQUFBO0VBQ0EsWUFBQTtBQ1BKOztBRFVBO0VBQ0ksZUFBQTtFQUNBLHdCQXBESztFQXFETCxZQUFBO0FDUEo7O0FEVUEsU0FBQTtBQUNBO0VBQ0ksYUFBQTtBQ1BKOztBRFVBO0VBQ0ksa0JBQUE7RUFDQSxRQUFBO0VBQ0EsU0FBQTtFQUNBLGtCQUFBO0VBQ0EsZ0NBQUE7RUFDQSxZQUFBO0FDUEo7O0FEVUE7RUFDSSxlQUFBO0VBQ0Esc0NBdkVHO0VBd0VILGtCQUFBO0FDUEo7O0FEVUE7RUFDSSxlQUFBO0VBQ0EsK0JBOUVLO0VBK0VMLGtCQUFBO0FDUEo7O0FEVUE7RUFDSSxxQkFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGFBQUE7RUFDQSwrQkF2Rks7RUF3RkwsZUFBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtFQUNBLHFCQXpGSTtFQTBGSix5QkExRkk7RUEyRkosWUFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLFVBQUE7RUFDQSwyQkFBQTtFQUNBLHFCQUFBO0FDUEo7O0FEVUEsV0FBQTtBQUVBO0VBQ0ksZUFBQTtFQUNBLGtCQUFBO0VBQ0EsK0JBM0dLO0VBNEdMLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxhQUFBO0VBQ0EsY0FBQTtBQ1JKOztBRFdBO0VBQ0ksZUFBQTtFQUNBLGtCQUFBO0VBQ0Esc0NBcEhHO0VBcUhILFlBQUE7QUNSSjs7QURXQTtFQUNJLGFBQUE7RUFDQSxlQUFBO0VBQ0Esa0JBQUE7QUNSSjs7QURXQTtFQUNJLE9BQUE7RUFDQSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxpQkFBQTtBQ1JKOztBRFdBO0VBQ0ksa0JBQUE7RUFDQSxTQUFBO0VBQ0EsV0FBQTtBQ1JKOztBRFdBO0VBQ0ksT0FBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLDBCQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5QkFBQTtFQUNBLHNDQWxKRztBQzBJUDs7QURXQTtFQUNJLGVBQUE7RUFDQSxrQkFBQTtFQUNBLGlCQUFBO0VBQ0EsWUFBQTtFQUNBLCtCQTNKSztFQTRKTCxnQkFBQTtBQ1JKOztBRFdBO0VBQ0ksZUFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxhQUFBO0VBQ0EsY0FqS0k7RUFrS0osaUJBQUE7RUFDQSxtQkFBQTtFQUNBLHFCQXBLSTtFQXFLSixXQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0FDUko7O0FEV0EsVUFBQSIsImZpbGUiOiJzdHlsZS5jc3MifQ== */